.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.jc-sb {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

/*Formula*/
.col1 {
  width: 5.3333333333%;
  margin: 1.5%;
}

.col2 {
  width: 13.6666666667%;
  margin: 1.5%;
}

.col3 {
  width: 22%;
  margin: 1.5%;
}

.col4 {
  width: 30.3333333333%;
  margin: 1.5%;
}

.col5 {
  width: 38.6666666667%;
  margin: 1.5%;
}

.col6 {
  width: 47%;
  margin: 1.5%;
}

.col7 {
  width: 55.3333333333%;
  margin: 1.5%;
}

.col8 {
  width: 63.6666666667%;
  margin: 1.5%;
}

.col9 {
  width: 72%;
  margin: 1.5%;
}

.col10 {
  width: 80.3333333333%;
  margin: 1.5%;
}

.col11 {
  width: 88.6666666667%;
  margin: 1.5%;
}

.col12 {
  width: 97%;
  margin: 1.5%;
}

/*Reset Element*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.nav-container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1.5%;
  padding: 10px 0;
}
.nav a {
  color: black;
}
.nav-menu {
  padding: 10px;
}
.nav-menu a:hover {
  text-decoration: underline;
}
.nav-menu span {
  background: black;
  color: white;
  padding: 3px 12px;
  border-radius: 4px;
}
.nav-side a .profile {
  position: relative;
  top: 10px;
  margin-left: 10px;
}
.nav-side a .profile img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid black;
}

.btn {
  background-color: black;
  padding: 10px 30px;
  transition: 0.5s;
}
.btn a {
  color: black;
}
.btn-outline {
  background: none;
  border: 1px solid black;
  color: black;
  border-radius: 30px;
}
.btn-outline:hover {
  background-color: black;
  color: white;
}

.hero {
  padding: 5% 0;
}
.hero-desc .tag {
  background-color: black;
  display: inline-block;
  padding: 3px 12px;
  color: white;
  margin-bottom: 10px;
}
.hero-desc h1 {
  font-weight: 3em;
  font-weight: 300;
  line-height: 120%;
}
.hero-desc h1 span {
  font-weight: 600;
}
.hero-desc p {
  line-height: 180%;
  margin-top: 20px;
  color: #666;
}
.hero-desc a {
  color: black;
  display: inline-block;
  margin-top: 30px;
}
.hero-card {
  border: 2px solid black;
  padding: 20px;
  box-sizing: border-box;
}
.hero-card_header {
  display: flex;
}
.hero-card_header .hch-title {
  display: flex;
}
.hero-card_header .hch-title .rate {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}
.hero-card_detail {
  display: flex;
}
.hero-card_detail #time {
  font-size: 20px;
  font-weight: bold;
}
.hero-card_detail #time .desc {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #666;
}
.hero-card_detail .bid-price {
  font-size: 20px;
  font-weight: bold;
}
.hero-card_detail .bid-desc {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #666;
}
.hero-community .hc-item {
  margin: 30px 0;
}
.hero-community .hc-item h3 {
  font-size: 30px;
}
.hero-community .hc-item p {
  color: #666;
  letter-spacing: 1px;
  font-size: 12px;
}

.img-responsive {
  width: 100%;
}

.footer-social {
  display: flex;
  justify-content: space-beetwen;
}
.footer-social a {
  color: black;
  height: 32px;
  margin: 0 5px;
}
.footer .row {
  border-top: 1px solid black;
}

/*# sourceMappingURL=style.css.map */
